<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
    	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
    	p {
    		font-family: "Noto Sans KR", sans-serif;
            font-size: 30px;
            color: #ff8a3d;
    	}
        #center {
            margin: 50px;
            text-align: center; 
        }
        #img img {
        	width: 400px;
        }
        #text {
            margin: 50px 0;
        }
    </style>
</head>
<body>
    <div id="center">
    	<div id="img">
            <img src="./images/503.png" alt="" />
        </div>
    	<div id="text">
            <p>서버에 에러가 발생하였습니다.</p>
        </div>
    </div>
</body>
</html>